#banner{
    color :blue;
    background-color: bisque;
}
.card{
    flex:1;
     margin:10px;
     padding:10px;
    border:1px solid gray;
     text-align:center;
}
.banner{
  justify-content: center;
  align-items: center;
  background-color: aqua;
  color: cornflowerblue;
}